/* NavBar */
.navbar {
  background-color: #242b56;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* Home */
.img-container {
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  margin-top: 3rem;
  background-image: url("/img/hero-bg.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-content {
  display: inline-block;
  border: 1px solid white;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) brightness(1.1);
}

/* Footer */

footer {
  background-color: #242b56;
}

.link-footer {
  color: white;
  text-decoration: none;
}
.link-footer:hover {
  font-weight: bold;
}

.footer-img {
  width: 50px;
  height: 50px;
}

.h1-with-underline {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}
.h1-with-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #242b56;
  margin-top: 0.5rem;
}

.title-with-underline {
  position: relative;
  display: block;
}

.title-with-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #242b56;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

/* About page */
p {
  text-align: justify;
  margin-bottom: 15px;
}

.item:hover {
  background: rgb(225, 225, 225);
  border-left: 4px solid #242b56;
}

.date {
  float: right;
  color: #242b56;
}

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.h2-about {
  margin-top: 30px;
}

/* contact page */
.custom-container {
  margin: 100px auto;
  padding: 40px;
  max-width: 900px;
  background-color: transparent;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
